{% extends "base.html" %}

   {% block content %}

   <div class="global-container">
	<div class="card login-form">
	<div class="card-body">
    
		<h3 class="card-title text-center">Hurray:) your email is verified</h3>
		<div class="card-text text-center">
            <!-- ,,,,,,,,
        </div>
        <div class="text.center"> -->
            <h5 class="card-title text-center">Please login</h5>
           <a class="btn btn-success" href="{% url 'login_attempt' %}"> LOGIN </a>
           <a class="btn btn-success" href="{% url 'home' %}"> HOME PAGE </a>
		</div>
	</div>
</div>
</div>


   {% endblock %}