{% extends "base.html" %}

   {% block content %}

   <div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">We have sent an email to you</h3>
		<div class="card-text text-xl-center">
           <!-- text- ... yapıp ortaya tetx girip ayarlama yapabiliyoruz -->
            <h4 class="card-title text-danger"> ! Please check your email </h4>
		    <!-- burayı kendim modifiye ettim -->
		</div>
	</div>
</div>
</div>


   {% endblock %}